.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-decision {
    border-radius: 6px;
    border: 0;
    width: 169px;
    height: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.apply-price-button {
    background: #49C088;
}

.decline-price-button {
    background: #FE7C8F;
}

.dropdown-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button-decision-parent {
    display: flex;
    justify-content: center;
}

.button-decision-parent {
    display: flex;
}