.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-decision {
    border-radius: 6px;
    border: 0;
    width: 169px;
    height: 24px;
    color: #ffffff;
}

.apply-price-button {
    background: #49C088;
}

.decline-price-button {
    background: #FE7C8F;
}

.button-decision-icons {
    margin-left: 0.5rem;
}